@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
body
{
   min-height: 100vh;
   background: #131313;
}
header {
   top: 0px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 5px 10%;
   background-color: #24252a;
 }
 
 .logo {
   margin-right: auto;
   
 }
 
 .nav__links {
   list-style: none;
   display: flex;
 }
 
 .nav__links a,
 .overlay__content a {
   font-family: "Montserrat", sans-serif;
   font-weight: 1000;
   font-size: 150%;
   color: #edf0f1;
   text-decoration: none;
   cursor: context-menu;
 }
 
 .nav__links li {
   padding: 0px 20px;
 }
 
 .nav__links li a {
   transition: all 0.3s ease 0s;
 }
 
 .nav__links li a:hover {
   color: #c9a867;
 }
 
 .button {
   margin-left: 420px;
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   color: #ccc;
   text-decoration: none;
   padding: 9px 25px;
   background: none;
   border: 1px solid  #c9a867;
   border-radius: 4px;
   transition: .6s;
   overflow: hidden;
   cursor: pointer;
 }
 button:focus {
   outline: none;
  }
  button:before {
   content: '';
   display: block;
   position: absolute;
   background: rgba(255,255,255,.5);
   width: 60px;
   height: 100%;
   left: 0;
   top: 0;
   opacity: .5;
   filter: blur(30px);
   transform: translateX(-130px) skewX(-15deg);
}
button:after {
   content: '';
   display: block;
   position: absolute;
   background: #24252a;
   width: 30px;
   height: 100%;
   left: 30px;
   top: 0;
   opacity: 0;
   filter: blur(30px);
   transform: translateX(-100px) scaleX(-15deg);
}
 
 .button:hover {
   color: rgb(0, 0, 0);
   background:  #c9a867;
   cursor: pointer;
 }
 button:hover:before {
   transform: translateX(300px) skewX(-15deg);
   opacity: .6;
   transition: .7s;
  }
  button:hover:after {
   transform: translateX(300px) skewX(-15deg);
   opacity: 1;
   transition: .7s;
  }

.container
{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 1650px;
   transform-style: preserve-3d;
}
.container .box
{
   position: relative;
   width: 300px;
   height: 400px;
   margin: 40px;
   background: #232323;
   border-radius: 20px;
   transform-style: preserve-3d;
}
.container .box:before
{
   content: 'ALFARP';
   position: absolute;
   top: 35px;
   Left: 30px;
   font-size: 3.5em;
   font-weight: 900;
   color: #fff;
   font-style: italic;
   opacity: 0;
   transition: 0.5s;
}
.container .box:after
{
   content: 'DONACIONES';
   position: absolute;
   bottom: -5px;
   right: 20px;
   font-size: 2.2em;
   font-weight: 900;
   color: #fff;
   font-style: italic;
   opacity: 0;
   transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after
{
   opacity: 0.04;
}
.container .box .name
{
   position: absolute;
   top: 0px;
   left: 0;
   text-align: center;
   color: #fff;
   width: 100%;
   transform-style: preserve-3d;
   transform: translate3d(0,0,75px);
   transition: 0.5s;
   opacity: 0;
   z-index: 10;
}
.container .box:hover .name
{
   top: 30px;
   opacity: 1;
}
.container .box .buy
{
   position: absolute;
   bottom: 0;
   Left: 50%;
   transform-style: preserve-3d;
   transform: translate3d(-50%,0,101px);
   color: #fff;
   background: #333;
   padding: 10px 25px;
   border-radius: 30px;
   text-decoration: none;
   transition: 0.5s;
   opacity: 0;
   z-index: 10;
}
.container .box:hover .buy
{
   bottom: 30px;
   opacity: 1;
}
.container .box .circle
{
   position: absolute;
   top: 50%;
   left:50%;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   transition: 0.5s;
   background: #fff;
   transform-style: preserve-3d;
   z-index: 10;
   transform: translate3d(-50%, -50%,50px);
}
.container .box .product
{
   position: absolute;
   top: 50%;
   left: 50%;
   max-width: 420px;
   transition: 0.5s;
   z-index: 11;
   transition: 0.5s;
   transform-style: preserve-3d;
   transform: translate3d(-50%, -50%,50px) rotate(3deg);

}
.container .box:hover .product
{
   transform: translate3d(-50%, -50%,100px) rotate(3deg);
}
.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy
{
   background: #8a9597;
}
.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy
{
   background: #c9a867;
}
.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy
{
   background: #5dcec1;
}
.container .box:nth-child(4) .circle,
.container .box:nth-child(4) .buy
{
   background: #c0262f;
}
